.calendar {
  width: 100%;
}
  .smd-datepicker .week {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    line-height: 12px;
    padding: 0 14px; }
    .smd-datepicker .week::before {
      content: " ";
      display: table; }
    .smd-datepicker .week .day {
      list-style: none;
      float: left;
      width: 32px;
      text-align: center;
      margin: 0 2px; }
  .smd-datepicker .smd-calendar-month {
    line-height: 32px;
    text-align: center;
    padding: 8px 14px 0 14px;
    background-color: $c-calendar;
    overflow: hidden;
    height: 100%; }
  .smd-datepicker .month-week {
    overflow: hidden;
    height: 100%; }
  .smd-datepicker .day-button {
    position: relative;
    float: left;
    width: 36px;
    line-height: 32px;
    padding: 4px 2px;
    border: 0;
    background: none;
    cursor: pointer; }
    .smd-datepicker .day-button .label {
      position: relative;
      color: #000; }
    .smd-datepicker .day-button:focus {
      outline: none; }
  .smd-datepicker .day-button .selected {
    position: absolute;
    background-color: $c-selected-date;
    height: 32px;
    width: 32px;
    opacity: 0;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    left: 50%;
    margin-left: -16px; }
  .smd-datepicker .day-button.is-current-day {
    color: $c-selected-date-text !important; }
    .smd-datepicker .day-button.is-current-day .label {
      color: $c-selected-date-text !important; }
  .smd-datepicker .day-button.is-current-day .selected {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .smd-datepicker .window-actions {
    text-align: right;
    padding: 10px;
  display: block;
clear: both;}
    .smd-datepicker .window-actions div {
      cursor: pointer;
      display: inline-block;
      margin-right: 8px;
      color: $c-date-display;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      font-size: 14px;
      padding-top: 5px;
      margin-bottom: 15px;
      letter-spacing: 0;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
      overflow: hidden;
      background-color: $c-calendar;
      line-height: 36px;
      min-width: 88px;
      padding: 0;
      margin: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      text-align: center; }
      .smd-datepicker .window-actions div:hover {
        background-color: #defbff; }
  .smd-datepicker .smd-time-selector {
    height: 100%;
    overflow: hidden;
    padding: 14px; }
    .smd-datepicker .smd-time-selector .time {
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
      margin-right: 10px; }
    .smd-datepicker .smd-time-selector .hour, .smd-datepicker .smd-time-selector .minute {
      font-size: 40px;
      margin-top: 5px;
      text-align: center; }
    .smd-datepicker .smd-time-selector .control {
      margin-left: 10px; }
  .smd-datepicker .smd-month-selector, .smd-datepicker .smd-year-selector {
    height: 100%;
    overflow: hidden; }
    .smd-datepicker .smd-month-selector .datetime-picker-button, .smd-datepicker .smd-year-selector .datetime-picker-button {
      float: left;
      width: 25%;
      text-align: center;
      margin-bottom: 10px; }
      .smd-datepicker .smd-month-selector .datetime-picker-button span, .smd-datepicker .smd-year-selector .datetime-picker-button span {
        width: 80%;
        display: block;
        margin: 0 auto;
        line-height: 40px;
        border-radius: 6px; }
      .smd-datepicker .smd-month-selector .datetime-picker-button.selected span, .smd-datepicker .smd-year-selector .datetime-picker-button.selected span {
        background-color: $c-selected-date;
        color: $c-selected-date-text;
      }

        .smd-datepicker .datetime-picker-button {
          position: relative;
          // float: left;
          width: 36px;
          line-height: 32px;
          padding: 4px 2px;
          border: 0;
          background: none;
          cursor: pointer; }
          .smd-datepicker .datetime-picker-button .label {
            position: relative;
            color: #000; }
          .smd-datepicker .datetime-picker-button:focus {
            outline: none; }
        .smd-datepicker .datetime-picker-button .selected {
          position: absolute;
          background-color: $c-selected-date;
          height: 32px;
          width: 32px;
          opacity: 0;
          border-radius: 50%;
          -webkit-transform: scale(0);
          transform: scale(0);
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          left: 50%;
          margin-left: -16px; }

  .is-portrait .smd-datepicker__header {
    display: none; }
  .is-portrait .smd-datepicker__display-date {
    padding: 5px 0; }
  .is-portrait .smd-datepicker__display-date .month {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle; }
  .is-portrait .smd-datepicker__display-date .year {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    height: 20px; }
  .is-portrait .smd-datepicker__display-date .day {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle; }
  .is-portrait .smd-datepicker .smd-calendar-toolbar {
    height: 30px; }
  .is-portrait .smd-datepicker .day-button {
    line-height: 28px; }
  .is-portrait .smd-datepicker .day-button .selected {
    width: 30px;
    height: 30px;
    margin-left: -15px; }
  .is-landscape .smd-datepicker {
    width: 450px;
    position: relative;
  display: flex;}
    .is-landscape .smd-datepicker__header {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: block;}
    .is-landscape .smd-datepicker .calendar {
      height: 100%;
      overflow: hidden;
      width: auto; }
    .is-landscape .smd-datepicker .date-display {
      display: table-cell;
      position: relative;
      width: 160px;
      top: 0;
      bottom: 0;
    }
    .is-landscape .smd-datepicker__display-date {
      top: 32px;
      bottom: 0;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
    }
    .is-landscape .smd-datepicker .calendar-panel {
      float: left; }

      .is-landscape .smd-datepicker .calendar-display {
        padding-left: 10px;
        display: table-cell;
      }
    // .is-landscape .smd-datepicker .window-actions {
    //   position: absolute;
    //   bottom: 0;
    //   left: 160px; }
      // .is-landscape .smd-datepicker .window-actions div {
      //   display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1 i {
  margin-right: 10px; }

a {
  color: $c-link; }

.content {
  padding: 20px; }

.note {
  margin-bottom: 400px; }

.notes {
  font-style: italic;
  font-size: 13px; }

.date-selector {
  border: 1px solid #ccc;
  padding: 40px;
  margin-bottom: 40px; }
  .date-selector h2 {
    font-size: 18px; }
  .date-selector input {
    font-size: 16px;
    padding: 10px 5px; }

.week .day {
  color: $c-weekday-heading;
}

.toolbar, .time-column, .day-button .label, .datetime-picker-button  {
  color: $c-day-text !important;
}

.toolbar-button path {
  fill: $c-day-text;
}



.calendar-icon {
  float: left;
  border: 0;
  left: 0;
  // background: white;
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  width: 56px;
  // height: 56px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

  .calendar-icon::after {
    content: 'grid_on';
  }


  .clock-icon {
    float: right;
    border: 0;
    left: 0;
    // background: white;
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    width: 56px;
    // height: 56px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }

    .clock-icon::after {
      content: 'access_time';
    }

.smd-datepicker--selecting-date {
  .month-day .month, .month-day .day, .year, .calendar-icon::after {
    color: $c-date-display-in-context-text;
  }

  .time-text, .clock-icon::after {
    color: $c-date-diplay-no-context-text;
  }
}


.smd-datepicker--selecting-time {
  .month-day .month, .month-day .day, .year, .calendar-icon::after {
    color: $c-date-diplay-no-context-text;
  }

  .time-text, .clock-icon::after {
    color: $c-date-display-in-context-text;
  }
}

.time-bar {
  margin-top: 24px;
  // margin-bottom:
}

.month-day .month, .year, .month-day .day {
  font-size: 42px !important;
}

.month-day {
  margin-bottom: 12px;
}

.time-bar .time-text {
  text-align: center;
  font-size: 25px;
}

.time-bar__icons {
  display: flex;
  width: 100%;
  margin-top: 12px;

  .calendar-icon {
    // align-content: flex-start;
  }

  .clock-icon {
    margin-left: auto;
  }
}

.is-landscape {
  .time-bar__icons {
    width: 100%;
    align-self: flex-end;
    // position: absolute;
    margin-top: 120px;
    .calendar-icon {
      align-content: flex-end;
    }

    .time-text {
      order: -1;
      align-self: center;
      flex-grow: stretch;
      flex: 1;
    }

    .clock-icon {
      margin-left: auto;
    }
  }
}
