.smd-calendar-toolbar {
  position: relative;
  height: 48px;
  text-align: center;

  .title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 48px;
  }

  .toolbar-button {
    position: absolute;
    padding: 12px;
    width: 48px;
    height: 48px;

    &:hover {
      cursor: pointer;
    }
  }

  .toolbar-button.left {
    left: 0;
    top: 0;
  }

  .toolbar-button.right {
    right: 0;
    top: 0;
  }
}
