$c-date-display: #00bcd4 !default;
$c-selected-date: darken($c-date-display, 5) !default;
$c-selected-date-text: #fff !default;
$c-date-display-header: darken($c-date-display, 5) !default;
$c-date-display-header-text: #fff !default;
$c-date-display-in-context-text: #fff !default;
$c-date-diplay-no-context-text: rgba( #fff, .7 ) !default;
$c-calendar: #fff !default;
$c-weekday-heading: #bcbcbc !default;
$c-day-text: #000 !default;
$c-link: darken($c-date-display, 5) !default;
$c-calendar-toolbar-title: #000 !default;
