$primary-color: #00bcd4;
$primary-color-dark: #0097a7;
$calendar-background: #fff;
$secondary-color: rgba( #fff, .7 );// lighten($primary-color, 10); // rgba( #fff, .7 );
$week-heading-color: #bcbcbc;
$icon-color: #fff;
$header-color: #fff;
$day-color: #000;
$selected-day-color: #fff;
$primary-text-color: #fff;

// $primary-color: #D500F9;
// $primary-color-dark: darken(#D500F9, 10);
// $calendar-background: #212121;
// $secondary-color: #ea80fc;
// $week-heading-color: #bcbcbc;
// $icon-color: #fff;
// $header-color: #fff;
// $day-color: #fff;
