<h1>Portrait</h1>

{{ smd-datepicker
    showTime="true"
    confirmAction="confirm"
    cancelAction="cancel"
    defaultHours=9
    defaultMinutes=0
}}

<h1>Landscape</h1>

<div class="is-landscape">
  {{ smd-datepicker
      showTime="true"
      confirmAction="confirm"
      cancelAction="cancel"
  }}
</div>


<br><br><br>
